/*======== Google Fonts =========*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Poppins:wght@300;400;500;600&display=swap');

/*=======VARIABLES CSS========*/
:root{
    /*======Colors=====*/
    --hue-color:rgb(78, 159, 61);

    /*======HSL COLOR MODE=====*/
    --skin-color:hsla(115, 40%, 18%, 0.329);
    --title-color:hsl((var(--hue-color)), 8%, 95%);
    --text-color:hsl((var(--hue-color)), 8%, 85%);
    --body-color:white;
    --box-color:hsl((var(--hue-color)), 14%, 10%);
    --scroll-bar-color:hsl((var(--hue-color)), 12%, 38%);
    --sroll-thumb-color:hsl((var(--hue-color)), 12%, 26%);

    /*======FONT AND TYPOGRAPHY=====*/
     --body-font:'Poppins', sans-serif;

    /*======Z INDEX=====*/
      --z-fixed:10;
      --z-modal:100;

    /*======.5rem = 8px , 1rem = 16px, 1.5rem = 24px,.... =====*/
    --biggest-font-size:5rem;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:.875rem;
    --smaller-font-size:.813rem;

    /*======FONT WEIGHT=====*/
    --font-medium:500;
    --font-bold:600;

    /*======MARGENES BOTTOM=====*/
    --mb-0-25:.25rem;
    --mb-0-5:.5rem;
    --mb-0-75:.75rem;
    --mb-1:.1rem;
    --mb-1-5:1.5rem;
    --mb-2:.2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;
}

/*======BASE=====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
main{
    position: relative;
}
body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color:rgb(5, 2, 10);
    font-family: var(bo);
    color: white;
    align-items: center;
    height: 100vh;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
}
h1, h2, h3{
    color: var(--title-color);
    font-weight: var(--font-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
input{
    display: none;
}

button,
input{
    border: none;
    outline: none;
}
/*=======HEADER=======*/
.menu_bar{
    background-color: rgba(255, 255, 255, 0.918);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: relative;
}
.logo{
   color: white; 
   font-size: 50px;
}
.logo span{
    color: var(--hue-color);
}
.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    padding: 10px 30px ;
}
li a{
    border-radius: 5px;
    padding: 5px 40px;
    transition: all .7s;
}


.menu_bar ul li a:hover{
    color:var(--hue-color) ;
}
.menu_bar ul li a{
    color: black;
    font-size: 30px;
   
}

/*==========Active link==========*/
.nav__link.active__link, .nav__link:hover{
    color: var(--hue-color);
    transition: all .7s;
    
}
.nav__link.active__link::after, .nav__link:hover::after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color:var(--hue-color);
    border-radius: 50%;
    bottom:.8rem;
    right: 300px;
    margin: auto;
    transform: all .9s;
}

/*==========LAYOUT==========*/
.home__container{
    position: relative;
    height: 100%;
    
}
.container{
    margin-left: auto;
    margin-right: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    
}
.right__side{
    display: flex;       
    align-items: center;
    justify-content: center;
    position: relative;
}
/*==========MAIN==========*/
.main{
    margin-left: 50px;
}
/*==========Sul section==========*/
.sul__data{
    margin-top: 200px;
    margin-left: 50px;
}
.sul__title{
    font-size: var(--biggest-font-size);
}
.sul__subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.sul__description{
    max-width: 450px;
    margin-bottom: var(--mb-2);
}
.home{
    height: 90vh;
}
.card__img{
    width: 30em;
    height: 30em;
    border-radius: 50%;
    border: 5px solid var(--hue-color);
    padding: 3px;
    margin-bottom: 2em;
    transition: all .7s;
}
.card__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: all .7s;
}
.sul__img{
    border-radius: 5px;
}
.my__info{
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 50px;
    bottom: 2rem;
}
.info__item{
    display: flex;
    align-items: center;
}
.info__title,
.info__subtitle{
    font-size: var(--h3-font-size);

}
.info__title{
    font-weight: var(--font-medium);
}
.info__icon{
    font-size: 1.8rem;
    color: var(--hue-color);
    margin-right: var(--mb-0-75);

}
/*==========Buttons==========*/
.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--hue-color);
    color: white;
    padding: .75rem 1.4rem;
    margin-top: 2rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s;

}
.button:hover
{

    transform: scale(1.09);
}
/*==========REUSABLE CSS CLASSES===========*/

.section{
    padding:6.5rem 0 2rem ;
}
.section__title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}
.section__title::before{
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--hue-color);
}

/*============About Section============*/
.about__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
}
.about__img{
    border-radius: .75rem;
    justify-self: center;
}
.about__heading{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}
.about__description{
    text-align: justify;
    padding-right: 20rem;
    margin-bottom: var(--mb-2-5);
}
.about__info{
    display: grid;
    grid-template-columns: repeat(3,140px);
    column-gap: .5rem;
    margin-bottom: var(--mb-3);
}
.about__box{
    text-align: center;
    border-radius: .25rem;
    padding: 1rem 1rem;
    background-color: var(--skin-color);
}
.about__icon{
    font-size: 1.5rem;
    color: var(--hue-color);
}
.about__title{
    font-size: var(--small-font-size);
}
.about__subtitle{
    font-size: var(--smaller-font-size);

}

 

