@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Poppins:wght@300;400;500;600&display=swap');

/*==========CLASSES AND ID==========*/


body{
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.menu_bar ul li a:hover{
    color:rgb(78, 159, 61) ;
}

/*=======SLIDER=======*/
.swiper{
    width: 100%;
}
.swiper-wrapper{
    width: 500%;
    height: 35em;
    display: flex;
    align-items: center; 
}
.swiper-slide:not(.swiper-slide-active){
    filter: blur(1px);
}

.card{
    width: 20em;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.918);
    color: black;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}
.card__image{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid var(--hue-color);
    padding: 3px;
    margin-bottom: 2em;
    transition: all .7s;
}
.card__image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: all .7s;
}
.card__image img:hover,
.card__image:hover{
    transform: scale(1.09);
}
.card__content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card__title{
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
    top: .2em;
}
.card__name{
    color: var(--hue-color);
}
.card__text{
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;
}
.card__btn{
    background-color: var(--hue-color);
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
    transition: all .7s;
}
.card__btn:hover{
    transform: scale(1.09);
}

/*===========DESCRIPTION==========*/
span{
    color: rgb(78, 159, 61);
}
.us{
    font-size: 80px;
}
.description{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

}


































